<h1>Editar departamento</h1>
<a class="btn btn-success"
[routerLink]="['/']">
    Volver al listado
</a>
<form #updateForm="ngForm">
    <input type="hidden" value="{{departamento.numero}}"
        #cajanumero name="cajanumero"/>
    <label>Nombre: </label>
    <input type="text" name="cajanombre"
    value="{{departamento.nombre}}"
    #cajanombre class="form-control"/><br/>
    <label>Localidad</label>
    <input type="text" name="cajalocalidad"
    value="{{departamento.localidad}}"
    #cajalocalidad class="form-control"/><br/>
    <button class="btn btn-info" (click)="updateDepartamento()">
        Modificar departamento
    </button>
</form>
