<h1>Home departamentos</h1>
<table class="table table-borderless">
    <thead>
        <tr>
            <th></th>
            <th>Número</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="departamentos">
        <tr *ngFor="let dept of departamentos">
            <td>
                <a [routerLink]="['/empleados', dept.numero]"
                class="btn btn-outline-info">
                    Empleados
                </a>
            </td>
            <td>{{dept.numero}}</td>
            <td>{{dept.nombre}}</td>
            <td>{{dept.localidad}}</td>
            <td>
                <a class="btn btn-info"
[routerLink]="['/editar', dept.numero, dept.nombre, dept.localidad]"
                >
                    Editar
                </a>
                |
                <a [routerLink]="['/eliminar', dept.numero]">
                    Eliminar RouterLink
                </a>
                |
                <button (click)="eliminarDepartamento(dept.numero)"
                class="btn btn-danger">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>
